<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <style>
        @media (max-width: 900px) { 
            .form {
                grid-column:1/4!important; 
                margin: 5px!important;
                grid-template-columns: unset!important;
            }
        }
        .header span {
            margin: 5px;
        }
    </style>
</head>
<body style="margin: 0px;">
    <div style="
    background-color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);">
        <div style="grid-row: 1;background-color: white;display: grid;grid-template-columns: 0.5fr 3fr 0.5fr;">  
            <div style="grid-column: 2; grid-row: 3;">
                <div class="header" style="grid-column: 2;grid-row: 2;text-align: center;">
                    <h1 style="font-size: 300%; text-align: center;">Analyse des Sentiments</h1>
                    <p>French - Français</p>
                    <!-- Place this tag where you want the button to render. -->
                    <a  class="github-button" 
                        href="https://github.com/lahdirakram/advencedsentimentanalysis/subscription" 
                        data-color-scheme="no-preference: light; light: light; dark: dark;" 
                        data-size="large" 
                        data-show-count="true" 
                        aria-label="Watch lahdirakram/advencedsentimentanalysis on GitHub">
                        Watch
                    </a>
                    <!-- Place this tag where you want the button to render. -->
                    <a  class="github-button" 
                        href="https://github.com/lahdirakram" 
                        data-color-scheme="no-preference: light; light: light; dark: dark;" 
                        data-size="large" 
                        data-show-count="true" 
                        aria-label="Follow @lahdirakram on GitHub">
                        Follow @lahdirakram
                    </a>
                </div>  
            </div>
        </div>
        <div style="grid-row: 2;grid-gap: 20px;display: grid;grid-template-rows: min-content;grid-template-columns: 1fr 2fr 1fr;">
            <div style="grid-column: 1/4;display: grid;grid-template-columns: 1fr 2fr 1fr;grid-gap: 20px;">
                <div style="grid-row: 1;grid-column: 1/4;display: grid;grid-template-columns: 1fr 2fr 1fr;">
                    <div class="form" style="grid-column: 2;display: grid;grid-template-columns: 2fr auto;grid-gap: 5px;">
                        <textarea id="text" class="form-control" name="text" style="margin-top: 0px; margin-bottom: 0px; min-height: 200px;" rows="1"></textarea>
                        <button id="ok" name="submit" style="margin-bottom: 0px!important;" class="btn btn-light">
                            <div id="send">envoyer</div>
                            <div 
                            id="pbar"
                            style="
                                width: 50px;
                                height: 50px;
                                border-radius: 50px;
                                border-bottom-color: white;
                                border-bottom-width: 10px;
                                border-bottom-style: double;
                                display: inline-block;
                                animation-name: spin;
                                animation-duration: 40ms;
                                animation-iteration-count: infinite;
                                animation-timing-function: linear;
                                background-color: #1a1e23;
                                "></div>
                        </button>
                    </div>   
                </div>
            </div>
            <div id="table" style="grid-row: 2;grid-column: 2;background-color: white;padding: 10px;height: fit-content;">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <th>Sentiment</th>
                            <td id="sentiment">Positif</td>
                        </tr>
                    <tr>
                            <th>Probabilité</th>
                            <td id="proba">0.9999999999</td>
                        </tr><tr>
                            <th>Phrase</th>
                            <td id="phrase">Ma Phrase</td>
                        </tr></tbody>
                </table>
            </div>
        </div>
    </div>

    <script>

        function get_sentiment(){
            $('#send').hide()
            $('#pbar').show()

            text = $('#text').val();
            encoded_text = encodeURI(text);
            url = window.location.origin+"/predict?text="+encoded_text;
            
            $.get(url,function(data,status){
                $('#sentiment').text(data['sentiment']);
                if(data['probabilite']['positif'] > data['probabilite']['negatif']){
                    $('#proba').text(data['probabilite']['positif']);
                }else{
                    $('#proba').text(data['probabilite']['negatif']);
                }
                $('#phrase').text(data['text']);
                $('#table').show()
            });
        }
        document.getElementById('ok').addEventListener('click',get_sentiment);
        $('#table').hide()
        $('#pbar').hide()

    </script>
</body>
</html>